<div class="settings-overlay">
  <div class="settings-dialog">
    <h2>{{ languageService.getTranslation('settings')() }}</h2>
    <div class="form-group">
      <label>{{ translations.quarterDuration() }}</label>
      <input type="number" [(ngModel)]="editedSettings().quarterDuration">
    </div>
    <div class="form-group">
      <label>{{ translations.attackDuration() }}</label>
      <input type="number" [(ngModel)]="editedSettings().attackDuration">
    </div>
    <div class="form-group">
      <label>{{ translations.continuedAttackDuration() }}</label>
      <input type="number" [(ngModel)]="editedSettings().continuedAttackDuration">
    </div>
    <div class="form-group">
      <label>{{ translations.homeTeamName() }}</label>
      <input type="text" [(ngModel)]="editedSettings().homeTeamName">
    </div>
    <div class="form-group">
      <label>{{ translations.awayTeamName() }}</label>
      <input type="text" [(ngModel)]="editedSettings().awayTeamName">
    </div>
    <div class="form-group">
      <label>{{ translations.language() }}</label>
      <div class="language-selector">
        <img src="https://flagcdn.com/w40/gb.png" (click)="setLanguage('en')" [class.active]="languageService.getCurrentLanguage() === 'en'" alt="English">
        <img src="https://flagcdn.com/w40/hr.png" (click)="setLanguage('hr')" [class.active]="languageService.getCurrentLanguage() === 'hr'" alt="Hrvatski">
      </div>
    </div>
    <div class="buttons">
        <button class="button-reset" (click)="resetQuarter.emit()">{{ translations.resetQuarter() }}</button>
        <button class="button-download" (click)="downloadCurrentLog()" [title]="translations.saveCurrentLogTitle()">{{ translations.downloadCurrentLog() }}</button>
    </div>
    <div class="recent-logs">
      <h3>{{ translations.recentLogs() }}</h3>
      @if (pastLogs().length > 0) {
        <ul>
          @for (log of pastLogs(); track log.id) {
            <li>
              <span>{{ log.id | date:'medium' }}</span>
              <button (click)="downloadLog(log)">Download</button>
            </li>
          }
        </ul>
      } @else {
        <p>No recent logs available.</p>
      }
    </div>

    <div class="buttons">
      <button class="button-save" (click)="onSave()">{{ translations.save() }}</button>
      <button class="button-cancel" (click)="onClose()">{{ translations.cancel() }}</button>
    </div>
  </div>
</div>
